.button-wrapper {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 16px;
  background-color: var(--primary);
  color: var(--text);
  flex: 1;
  cursor: pointer;
  font-family: 'Viga',sans-serif;
}

.button-wrapper:hover {
  size: 1.2;
  background-color: var(--primary-hover);
}
