:root {
  --text: white;
  --primary: #222122;
  --primary-hover: #5c6b73;
  --secondary: #3A3A3A;
  --text-size: 20px;
}

.input-wrapper {
  padding: 40px;
  font-family: 'Roboto',sans-serif;
  font-size: var(--text-size);
  width: 800px;
  background-color: var(--secondary);
  border-radius: 16px;
  display: flex;
  color: var(--text);
}

.distance,
.time,
.title {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  height: 72px;
  width: 440;
  border-radius: 8px;
  margin-bottom:16px ;
  margin-right: 53px;
}

.distance{
  justify-content: space-between;
  padding: 0px 10px;
}

.time{
  justify-content: space-evenly;
}
.row{
  margin-right: 53px;
  gap: 21px;
  display: flex;
}

.col{
  width: 700px;
}

.reset{
  color: #5c6b73;
  width: 171px;
  height: 72px;
}

.result{
  display: flex;
  width: 340px;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 8px;
}

.result .value{
  font-size: 120px;
  font-family: 'Viga',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result .measurement{
  display: flex;
  justify-content: center;
  align-items: center;
}


.title {
  font-size: 50px;
}

.hours,
.minutes,
.seconds {
  margin: 1em;
}

.distance input {
  width: 60px;
}

input {
  width: 50px;
  font-size: large;
  background-color: var(--primary);
  text-align: center;
  border: none;
  box-sizing: border-box;
  color: var(--text);
  font-size: var(--text-size);
}

input::placeholder {
  color: var(--text);
}



